* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: rgb(24, 24, 24);
  cursor: grab;
}
#main {
  width: 100%;
  height: 100%;
  padding: 20px;
}
h1 {
  color: #e3e3e3;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
input {
  display: block;
  padding: 5px 0;
  margin: 5px;
}
input[type="submit"] {
  background-color: rgb(27, 230, 196);
  border: none;
  padding: 8px 25px;
  border-radius: 3px;
  cursor: grab;
}
input[type="submit"]:hover {
  background-color: rgb(38, 130, 114);
  padding: 10px 25px;
}
.card {
  margin-right: 6px;
  max-width: 300px;
  display: inline-block;
  padding: 20px;
  border: 1px solid #e3e3e3;
  margin-top: 20px;
  border-radius: 10px;
  color: aliceblue;
}
.card h5 {
  margin-top: 5px;
}
.card > p {
  font-size: 12px;
  margin-top: 12px;
}
.profile {
  height: 70px;
  width: 70px;
  background-color: blue;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
.profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
